---
import { Image } from "astro:assets";
import fpxScreenshot1 from "@/assets/fpx-screenshot-1.png";
import fpxScreenshot2 from "@/assets/fpx-screenshot-2.png";
import { Content } from "@/content/landing/index.mdx";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage
  frontmatter={{
    title: "Fiberplane",
    template: "splash",
    hero: {
      title: "Test and debug <br/> your Hono API",
      tagline:
        "Fiberplane helps you build, test and debug your API <br/> with the full context of your source code and runtime behavior.",
      actions: [
        {
          text: "Get started",
          link: "docs/home/get-started",
          icon: "right-arrow",
          variant: "primary",
          attrs: {
            // HACK: just need the button to behave but don't want to rewrite the whole splash template
            style: "border-radius: var(--border-radius);",
          },
        },
      ],
    },
  }}
>
  <div class="outer">
    <div class="mobile-product-preview">
      <Image src={fpxScreenshot2} alt="FPX product screenshot" />
    </div>

    <div id="quickstart">
      <Content />
    </div>

    <div class="product-preview">
      <div id="screenshot-2">
        <!-- TODO: investigate cropping the image so that the browser frame doesn't show  -->
        <Image src={fpxScreenshot2} alt="FPX product screenshot" />
      </div>
      <div id="screenshot-1">
        <Image src={fpxScreenshot1} alt="FPX product screenshot" />
      </div>
    </div>
  </div>
</StarlightPage>

<style>
  img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
  }

  .outer {
    grid-template-columns: 1fr;
    gap: 4rem;
    display: grid;
  }

  .mobile-product-preview {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
  }

  #quickstart {
    width: 100%;
  }

  .product-preview {
    display: none;
  }

  /* md */
  @media (min-width: 768px) {
    .mobile-product-preview {
      padding: 1rem;
    }
  }

  /* lg */
  @media (min-width: 1024px) {
    .outer {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .mobile-product-preview {
      display: none;
    }

    .product-preview {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 2rem 0;
    }

    #screenshot-2 {
      transform: translateX(10%);
    }

    #screenshot-1 {
      transform: translateX(-10%) translateY(-50%);
    }
  }
</style>
