node_modules
dist
.wrangler
.dev.vars
.swc

# Change them to your taste:
# ignore lockfile since we are in monorepo
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

# mac
.DS_Store

# packed files
mizu-dev-hono-*.tgz