---
import Search from "@astrojs/starlight/components/Search.astro";
import SiteTitle from "@astrojs/starlight/components/SiteTitle.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import type { Props } from "@astrojs/starlight/props";
---

<div class="header">
  <div>
    <SiteTitle {...Astro.props} />
  </div>
  <div class="right">
    <nav>
      <a href="/docs">Docs</a>
      <a href="/blog">Blog</a>
    </nav>
    <Search {...Astro.props} />
    <div class="social-icons">
      <SocialIcons {...Astro.props} />
    </div>
  </div>
</div>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    gap: 1rem;
  }

  nav a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }

  nav a:hover {
    background-color: var(--sl-color-gray-6);
    border-radius: var(--border-radius);
  }
  nav a:visited {
    color: var(--sl-color-white);
  }

  .right {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .social-icons {
    display: flex;
    gap: 1rem;
  }

  .social-icons a {
    color: var(--sl-color-gray-4);
  }
</style>
