---
import type { Props } from "@astrojs/starlight/props";
import { Image } from "astro:assets";

const { data } = Astro.props.entry;
const { title = data.title, tagline, image, actions = [] } = data.hero || {};

let heroImage: ImageMetadata | undefined;
if (image && "file" in image) {
  heroImage = image.file;
}
---

<section>
  <header>
    <h1>{title}</h1>
    <p>{tagline}</p>
  </header>

  <figure>
    {
      heroImage && (
        <Image src={heroImage} alt="Screenshot of FPX Studio" data-hero-image />
      )
    }
  </figure>
</section>

<script>
  const heroImage = document.querySelector("[data-hero-image]");
  if (heroImage && heroImage instanceof HTMLImageElement) {
    heroImage.onload = () => {
      console.log("Hero image loaded");
      heroImage.classList.add("is-loaded");
    };
  }
</script>

<style>
  /*
    Hacky solution for now, need to dive into Starlight on how to do this
    properly. This breaks the documentations page though, so a proper solution
    is needed.
  */
  :root {
    --sl-content-width: 102rem !important;
  }

  section {
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    height: 54rem;
    border-radius: 20px;
    background-image: linear-gradient(180deg, rgb(248 250 252), #f5f8fa);

    & > * {
      z-index: 2;
    }

    header {
      display: grid;
      gap: 2rem;
      align-content: center;
      color: black;
      margin-inline: 6rem;

      /* TODO: Add Geist font from fontsource.com */
      h1 {
        font-size: 70px;
        line-height: 1;
        text-wrap: balance;
      }

      p {
        /* TODO: Add Inter-Tight font & update font size & line height */
        /* fontsource.com */
        font-size: 32px;
        line-height: 1.2;
        font-weight: 500;
        text-wrap: pretty;
      }
    }

    figure {
      --figure-block-padding: 4rem;

      position: relative;
      padding-block: var(--figure-block-padding);

      img {
        position: absolute;
        left: 0;
        height: calc(100% - var(--figure-block-padding) * 2);
        width: auto;
        border-radius: 20px;
        object-fit: contain;
        box-shadow: 0px 5.553px 26.51px 0px rgb(0 0 0 / 0.55);

        /* Rudimentary entry animations for now, add some sprinkles */
        opacity: 0;
        translate: 0 24px;
        transition:
          opacity 0.5s,
          translate 0.5s;

        &.is-loaded {
          opacity: 1;
          translate: 0 0;
        }
      }
    }

    &::before {
      --hero-background-image-size: 2rem;
      --hero-background-image-position: calc(
        var(--hero-background-image-size) / 2
      );

      z-index: 1;
      content: "";
      position: absolute;
      border-radius: 20px;
      inset: 0;
      background-image: radial-gradient(
        rgb(207 212 216 / 0.4) 3px,
        transparent 0
      );
      background-size: var(--hero-background-image-size)
        var(--hero-background-image-size);
      background-position: top center;
    }
  }
</style>
