---
import { Icon } from "@astrojs/starlight/components";
import type { Props } from "../props";

const { dir, labels, pagination } = Astro.props;
const { prev, next } = pagination;
// const isRtl = dir === "rtl";
---

<div class="pagination-links">
  {
    prev && (
      <a href={prev.href} rel="prev">
        <Icon name="left-arrow" size="1.5rem" />
        <span>{prev.label}</span>
      </a>
    )
  }
  {
    next && (
      <a href={next.href} rel="next">
        <span>{next.label}</span>
        <Icon name="right-arrow" size="1.5rem" />
      </a>
    )
  }
</div>

<style>
  .pagination-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
    gap: 1rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--sl-color-accent);
    text-decoration: none;
    font-size: var(--sl-text-base);
    font-weight: 600;
  }

  a:hover {
    color: var(--sl-color-accent-high);
  }

  [rel="next"] {
    justify-content: end;
    text-align: end;
  }

  svg {
    flex-shrink: 0;
  }
</style>
