---
import type { Props } from "@astrojs/starlight/props";

import type { SidebarEntry } from "node_modules/@astrojs/starlight/utils/navigation";
import MobileMenuFooter from "@astrojs/starlight/components/MobileMenuFooter.astro";
import SidebarSublist from "./SidebarSublist.astro";

type NavEntry = SidebarEntry & { type: "link" };

const { sidebar: sidebarAndNav } = Astro.props;

const [sidebar, nav] = sidebarAndNav.reduce<[SidebarEntry[], NavEntry[]]>(
  ([sidebar, nav], item: SidebarEntry) => {
    if (item.label === "nav" && item.type === "group" && "entries" in item) {
      nav = item.entries.filter(
        (entry): entry is NavEntry => entry.type === "link",
      );
    } else {
      sidebar.push(item);
    }
    return [sidebar, nav];
  },
  [[], []],
);
---

{
  nav && (
    <nav>
      <ul>
        {nav.map((entry) => (
          <li>
            <a
              href={entry.href}
              class={Astro.url.pathname.startsWith(entry.href) ? "active" : ""}
            >
              {entry.label}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}

<SidebarSublist sublist={sidebar} />
<div class="md:sl-hidden">
  <MobileMenuFooter {...Astro.props} />
</div>

<style>
  nav {
    display: none;
  }

  @media (max-width: 800px) {
    nav {
      display: block;
    }

    ul {
      display: grid;
      gap: 5px;
      padding-left: 1.5rem;
    }

    ul li {
      list-style: none;
    }

    a {
      text-decoration: none;
      padding: 0.25rem 0.5rem;
    }

    a.active {
      background-color: var(--sl-color-gray-6);
      border-radius: var(--border-radius);
    }

    a:visited {
      color: var(--sl-color-white);
    }
  }
</style>
