---
import type { Props } from "@astrojs/starlight/props";

import MobileMenuFooter from "@astrojs/starlight/components/MobileMenuFooter.astro";
import type { SidebarEntry } from "node_modules/@astrojs/starlight/utils/navigation";
import SidebarSublist from "./SidebarSublist.astro";

const { sidebar: sidebarAndNav } = Astro.props;

const [sidebar, nav] = sidebarAndNav.reduce<[SidebarEntry[], SidebarEntry[]]>(
  ([sidebar, nav], item: SidebarEntry) => {
    if (item.label === "nav") {
      nav.push(item);
    } else {
      sidebar.push(item);
    }
    return [sidebar, nav];
  },
  [[], []],
);
---

<SidebarSublist sublist={sidebar} />
<div class="md:sl-hidden">
  <MobileMenuFooter {...Astro.props} />
</div>
