SESSION_SECRET=""
PUBLIC_KEY=""
PRIVATE_KEY=""
GITHUB_ID=
GITHUB_SECRET=

# For local development with the SPA
LILO_ENV=local

# For local development with Fiberplane studio
FPX_ENDPOINT=http://localhost:8788/v1/traces
