@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --danger-100: 357 85% 93%;
    --danger-200: 357 67% 86%;
    --danger-300: 358 75% 77%;
    --danger-400: 358 82% 71%;
    --danger-500: 358 85% 66%;
    --danger-50: 0 100% 97%;
    --danger-600: 358 73% 56%;
    --danger-700: 356 74% 44%;
    --danger-800: 358 87% 31%;
    --danger-900: 358 85% 22%;
    --danger-950: 358 92% 14%;
    --flame-100: 14 100% 92%;
    --flame-200: 14 100% 85%;
    --flame-300: 14 100% 77%;
    --flame-400: 14 100% 69%;
    --flame-500: 14 100% 60%;
    --flame-50: 14 100% 96%;
    --flame-600: 12 78% 51%;
    --flame-700: 12 80% 37%;
    --flame-800: 12 80% 28%;
    --flame-900: 12 84% 19%;
    --flame-950: 12 85% 10%;
    --info-100: 200 42% 90%;
    --info-200: 200 45% 84%;
    --info-300: 200 46% 76%;
    --info-400: 200 47% 68%;
    --info-500: 200 54% 57%;
    --info-50: 200 33% 95%;
    --info-600: 200 60% 46%;
    --info-700: 200 63% 38%;
    --info-800: 200 76% 30%;
    --info-900: 200 77% 21%;
    --info-950: 200 80% 13%;
    --mint-500: 157 47% 62%;
    --mint-600: 157 46% 55%;
    --neutral-100: 30 6% 91%;
    --neutral-200: 30 6% 87%;
    --neutral-300: 30 7% 79%;
    --neutral-400: 30 3% 68%;
    --neutral-500: 30 2% 47%;
    --neutral-50: 0 8% 96%;
    --neutral-600: 30 2% 34%;
    --neutral-700: 30 3% 22%;
    --neutral-800: 30 5% 15%;
    --neutral-900: 30 8% 10%;
    --neutral-950: 30 11% 6%;
    --neutral-white: 0 0% 100%;
    --pink-500: 338 81% 74%;
    --pink-600: 338 68% 67%;
    --purple-500: 276 74% 74%;
    --purple-600: 276 67% 68%;
    --shell-100: 39 25% 92%;
    --shell-200: 39 25% 86%;
    --shell-300: 39 26% 78%;
    --shell-400: 39 14% 61%;
    --shell-500: 39 14% 61%;
    --shell-50: 39 25% 96%;
    --shell-600: 39 13% 50%;
    --shell-700: 39 15% 39%;
    --shell-800: 39 16% 31%;
    --shell-900: 39 17% 22%;
    --shell-950: 39 19% 14%;
    --success-100: 84 42% 90%;
    --success-alpha-15: rgb(141 184 68 / 15%);
    --success-200: 84 41% 83%;
    --success-300: 84 42% 72%;
    --success-400: 84 42% 61%;
    --success-alpha-50: rgb(141 184 68 / 50%);
    --success-500: 84 46% 49%;
    --success-50: 84 33% 95%;
    --success-600: 84 51% 42%;
    --success-700: 84 82% 28%;
    --success-800: 84 87% 23%;
    --success-900: 84 89% 17%;
    --success-950: 84 91% 12%;
    --warning-100: 37 68% 91%;
    --warning-alpha-15: rgb(225 168 71 / 15%);
    --warning-200: 37 86% 83%;
    --warning-300: 37 79% 75%;
    --warning-400: 37 79% 68%;
    --warning-alpha-50: rgb(225 168 71 / 50%);
    --warning-500: 37 73% 58%;
    --warning-50: 37 50% 97%;
    --warning-600: 37 75% 45%;
    --warning-700: 37 93% 35%;
    --warning-800: 37 94% 26%;
    --warning-900: 37 100% 21%;
    --warning-950: 37 87% 16%;
    --bg-background: hsl(var(--shell-50));
    --bg-brand-muted: var(--flame-alpha-15);
    --bg-brand: hsl(var(--flame-500));
    --bg-danger: var(--danger-alpha-15);
    --bg-destructive-hover: hsl(var(--danger-700));
    --bg-destructive: hsl(var(--danger-600));
    --bg-emphasis: hsl(var(--shell-100));
    --bg-info: var(--info-alpha-15);
    --bg-input: hsl(var(--neutral-white));
    --bg-popover-hover: hsl(var(--shell-100));
    --bg-popover: hsl(var(--neutral-white));
    --bg-primary-hover: hsl(var(--neutral-700));
    --bg-primary: hsl(var(--neutral-800));
    --bg-secondary-hover: hsl(var(--shell-200));
    --bg-secondary: hsl(var(--shell-100));
    --bg-success: var(--success-alpha-15);
    --bg-warning: var(--warning-alpha-15);
    --border-accent-on-primary: hsl(var(--neutral-500));
    --border-brand: hsl(var(--flame-500));
    --border-default: hsl(var(--neutral-200));
    --border-focus: hsl(var(--neutral-400));
    --border-primary: hsl(var(--neutral-800));
    --border-secondary: hsl(var(--shell-100));
    --fg-accent-1: hsl(var(--mint-600));
    --fg-accent-2: hsl(var(--purple-600));
    --fg-accent-3: hsl(var(--pink-600));
    --fg-brand: hsl(var(--flame-600));
    --fg-danger: hsl(var(--danger-600));
    --fg-default: hsl(var(--neutral-950));
    --fg-info: hsl(var(--info-600));
    --fg-muted: hsl(var(--neutral-600));
    --fg-on-primary: hsl(var(--neutral-white));
    --fg-subtle: hsl(var(--neutral-400));
    --fg-success: hsl(var(--success-600));
    --fg-warning: hsl(var(--warning-600));
    --radius-none: 0px;
    --radius-rounded-full: 9999px;
    --radius-rounded-lg: 10px;
    --radius-rounded-md: 8px;
    --radius-rounded-sm: 6px;
    --radius-rounded-xl: 12px;
    --radius-rounded-xs: 4px;
    --font-body-default: 400 14px / 20px Geist;
    --font-body-label: 400 14px / 16px Geist;
    --font-body-mono: 300 14px / 20px Geist Mono;
    --font-body-small: 400 12px / 16px Geist;
    --font-buttons: 400 14px / 20px Geist;
    --font-headers-h1: 500 28px / 32px Instrument Sans;
    --font-headers-h2: 500 20px / 24px Instrument Sans;
    --font-headers-h3: 500 16px / 24px Instrument Sans;
    --font-headers-h4: 500 14px / 20px Geist;
    --font-headers-h5: 300 14px / 16px Geist;
    --font-tabs-selected: 500 14px / 20px Geist;
    --font-tabs-unselected: 400 14px / 20px Geist;
    --focus: drop-shadow(0px 0px 0px 4px #afaeaa)
      drop-shadow(0px 0px 0px 2px #f7f6f3);
  }

  .dark {
    --bg-background: hsl(var(--neutral-900));
    --bg-brand-muted: var(--flame-alpha-15);
    --bg-brand: hsl(var(--flame-500));
    --bg-danger: var(--danger-alpha-15);
    --bg-destructive-hover: hsl(var(--danger-500));
    --bg-destructive: hsl(var(--danger-600));
    --bg-emphasis: hsl(var(--neutral-800));
    --bg-info: var(--info-alpha-15);
    --bg-input: hsl(var(--neutral-800));
    --bg-popover-hover: hsl(var(--neutral-800));
    --bg-popover: hsl(var(--neutral-950));
    --bg-primary-hover: hsl(var(--flame-500));
    --bg-primary: hsl(var(--flame-600));
    --bg-secondary-hover: hsl(var(--neutral-700));
    --bg-secondary: hsl(var(--neutral-800));
    --bg-success: var(--success-alpha-15);
    --bg-warning: var(--warning-alpha-15);
    --border-accent-on-primary: hsl(var(--neutral-600));
    --border-brand: hsl(var(--flame-500));
    --border-default: hsl(var(--neutral-700));
    --border-focus: hsl(var(--neutral-500));
    --border-primary: hsl(var(--flame-600));
    --border-secondary: hsl(var(--neutral-700));
    --fg-accent-1: hsl(var(--mint-500));
    --fg-accent-2: hsl(var(--purple-500));
    --fg-accent-3: hsl(var(--pink-500));
    --fg-brand: hsl(var(--flame-500));
    --fg-danger: hsl(var(--danger-500));
    --fg-default: hsl(var(--neutral-50));
    --fg-info: hsl(var(--info-500));
    --fg-muted: hsl(var(--neutral-300));
    --fg-on-primary: hsl(var(--neutral-white));
    --fg-subtle: hsl(var(--neutral-500));
    --fg-success: hsl(var(--success-500));
    --fg-warning: hsl(var(--warning-500));
  }

  /* :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 62.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-bg text-fg;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-gray-600) transparent;
  }

  *::-webkit-scrollbar {
    @apply h-3.5 w-3.5;
  }

  *::-webkit-scrollbar-track {
    @apply rounded-lg;
  }

  *::-webkit-scrollbar-thumb {
    @apply h-14 rounded-lg border-4 border-solid border-transparent bg-clip-content bg-gray-600;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }

  *::-webkit-scrollbar-corner {
    @apply hidden;
  }
}
