:root {
  --danger-100: #fcdbdc;
  --danger-alpha-15: rgb(225 85 90 / 15%);
  --danger-200: #f2c6c7;
  --danger-300: #f09c9e;
  --danger-400: #f0787c;
  --danger-alpha-50: rgb(225 85 90 / 50%);
  --danger-500: #f25a60;
  --danger-50: #ffefef;
  --danger-600: #e03d43;
  --danger-700: #c21d24;
  --danger-800: #930a0e;
  --danger-900: #67090c;
  --danger-950: #430305;
  --flame-100: #ffddd5;
  --flame-alpha-15: rgb(255 87 51 / 15%);
  --flame-200: #ffbdaf;
  --flame-300: #ff9f8b;
  --flame-400: #ff7e62;
  --flame-alpha-50: rgb(255 87 51 / 50%);
  --flame-500: #ff5733;
  --flame-50: #ffeeeb;
  --flame-600: #e34220;
  --flame-700: #aa2d13;
  --flame-800: #82220e;
  --flame-900: #571608;
  --flame-950: #2e0b04;
  --font-line-height-2xl: 32px;
  --font-line-height-2xl: 40px;
  --font-line-height-lg: 24px;
  --font-line-height-lg: 28px;
  --font-line-height-md: 20px;
  --font-line-height-md: 24px;
  --font-line-height-sm: 16px;
  --font-line-height-sm: 20px;
  --font-line-height-xl: 28px;
  --font-line-height-xl: 32px;
  --font-line-height-xs: 12px;
  --font-line-height-xs: 16px;
  --font-size-2xl: 24px;
  --font-size-2xl: 28px;
  --font-size-lg: 16px;
  --font-size-lg: 20px;
  --font-size-md: 14px;
  --font-size-md: 16px;
  --font-size-sm: 12px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-xl: 24px;
  --font-size-xs: 10px;
  --font-size-xs: 12px;
  --height-2xl: 40px;
  --height-2xl: 48px;
  --height-icon: 14px;
  --height-icon: 16px;
  --height-lg: 32px;
  --height-lg: 36px;
  --height-md: 28px;
  --height-md: 32px;
  --height-sm: 24px;
  --height-sm: 28px;
  --height-xl: 36px;
  --height-xl: 40px;
  --height-xs: 20px;
  --height-xs: 24px;
  --info-100: #dde9f0;
  --info-alpha-15: rgb(89 161 201 / 15%);
  --info-200: #c5dbe8;
  --info-300: #a7cade;
  --info-400: #84b9d6;
  --info-alpha-50: rgb(89 161 201 / 50%);
  --info-500: #59a1c9;
  --info-50: #edf3f6;
  --info-600: #2f89bb;
  --info-700: #2473a0;
  --info-800: #125b84;
  --info-900: #0c415e;
  --info-950: #06273a;
  --mint-500: #6eccac;
  --mint-600: #5eba9b;
  --neutral-100: #e9e8e7;
  --neutral-200: #e0dfdc;
  --neutral-300: #cdcbc7;
  --neutral-400: #afaeaa;
  --neutral-500: #7b7a77;
  --neutral-50: #f7f5f5;
  --neutral-600: #575654;
  --neutral-700: #3a3937;
  --neutral-800: #272624;
  --neutral-900: #1b1a18;
  --neutral-950: #0f0e0c;
  --neutral-white: #ffffff;
  --pink-500: #f089b4;
  --pink-600: #e375a4;
  --purple-500: #c38bf0;
  --purple-600: #b478e4;
  --radius-none: 0px;
  --radius-rounded-full: 9999px;
  --radius-rounded-lg: 10px;
  --radius-rounded-lg: 8px;
  --radius-rounded-md: 6px;
  --radius-rounded-md: 8px;
  --radius-rounded-sm: 4px;
  --radius-rounded-sm: 6px;
  --radius-rounded-xl: 10px;
  --radius-rounded-xl: 12px;
  --radius-rounded-xs: 2px;
  --radius-rounded-xs: 4px;
  --screen-size-screen-height: 1024px;
  --screen-size-screen-height: 844px;
  --screen-size-screen-width: 1440px;
  --screen-size-screen-width: 390px;
  --shell-100: #efece4;
  --shell-200: #e4e0d4;
  --shell-300: #d6cfba;
  --shell-400: #aaa28b;
  --shell-500: #aaa28b;
  --shell-50: #f7f6f3;
  --shell-600: #8f876f;
  --shell-700: #716a55;
  --shell-800: #5c5643;
  --shell-900: #403b2d;
  --shell-950: #2b281e;
  --spacing-2xl: 20px;
  --spacing-2xl: 24px;
  --spacing-3xl: 24px;
  --spacing-3xl: 32px;
  --spacing-4xl: 28px;
  --spacing-4xl: 40px;
  --spacing-lg: 12px;
  --spacing-lg: 16px;
  --spacing-md: 12px;
  --spacing-md: 8px;
  --spacing-none: 0px;
  --spacing-s: 4px;
  --spacing-s: 8px;
  --spacing-screen-padding: 16px;
  --spacing-screen-padding: 24px;
  --spacing-xl: 16px;
  --spacing-xl: 20px;
  --spacing-xs: 2px;
  --spacing-xs: 4px;
  --success-100: #e9f0dc;
  --success-alpha-15: rgb(141 184 68 / 15%);
  --success-200: #d9e5c3;
  --success-300: #c0d69a;
  --success-400: #a7c474;
  --success-alpha-50: rgb(141 184 68 / 50%);
  --success-500: #8db844;
  --success-50: #f4f7ed;
  --success-600: #79a035;
  --success-700: #56800d;
  --success-800: #456a08;
  --success-900: #345004;
  --success-950: #273c03;
  --warning-100: #f7ebd7;
  --warning-alpha-15: rgb(225 168 71 / 15%);
  --warning-200: #f7dcae;
  --warning-300: #f2cc8d;
  --warning-400: #edbe6f;
  --warning-alpha-50: rgb(225 168 71 / 50%);
  --warning-500: #e1a847;
  --warning-50: #fbf7f2;
  --warning-600: #ca8a1d;
  --warning-700: #ab6e07;
  --warning-800: #815305;
  --warning-900: #6a4300;
  --warning-950: #4f3405;
  --bg-background: var(--shell-50);
  --bg-brand-muted: var(--flame-alpha-15);
  --bg-brand: var(--flame-500);
  --bg-danger: var(--danger-alpha-15);
  --bg-destructive-hover: var(--danger-700);
  --bg-destructive: var(--danger-600);
  --bg-emphasis: var(--shell-100);
  --bg-info: var(--info-alpha-15);
  --bg-input: var(--neutral-white);
  --bg-popover-hover: var(--shell-100);
  --bg-popover: var(--neutral-white);
  --bg-primary-hover: var(--neutral-700);
  --bg-primary: var(--neutral-800);
  --bg-secondary-hover: var(--shell-200);
  --bg-secondary: var(--shell-100);
  --bg-success: var(--success-alpha-15);
  --bg-warning: var(--warning-alpha-15);
  --border-accent-on-primary: var(--neutral-500);
  --border-brand: var(--flame-500);
  --border-default: var(--neutral-200);
  --border-focus: var(--neutral-400);
  --border-primary: var(--neutral-800);
  --border-secondary: var(--shell-100);
  --fg-accent-1: var(--mint-600);
  --fg-accent-2: var(--purple-600);
  --fg-accent-3: var(--pink-600);
  --fg-brand: var(--flame-600);
  --fg-danger: var(--danger-600);
  --fg-default: var(--neutral-950);
  --fg-info: var(--info-600);
  --fg-muted: var(--neutral-600);
  --fg-on-primary: var(--neutral-white);
  --fg-subtle: var(--neutral-400);
  --fg-success: var(--success-600);
  --fg-warning: var(--warning-600);
  --font-body-default: 400 14px / 20px Geist;
  --font-body-label: 400 14px / 16px Geist;
  --font-body-mono: 300 14px / 20px Geist Mono;
  --font-body-small: 400 12px / 16px Geist;
  --font-buttons: 400 14px / 20px Geist;
  --font-headers-h1: 500 28px / 32px Instrument Sans;
  --font-headers-h2: 500 20px / 24px Instrument Sans;
  --font-headers-h3: 500 16px / 24px Instrument Sans;
  --font-headers-h4: 500 14px / 20px Geist;
  --font-headers-h5: 300 14px / 16px Geist;
  --font-tabs-selected: 500 14px / 20px Geist;
  --font-tabs-unselected: 400 14px / 20px Geist;
  --focus: drop-shadow(0px 0px 0px 4px #afaeaa)
    drop-shadow(0px 0px 0px 2px #f7f6f3);

  &[data-theme="dark"] {
    --bg-background: var(--neutral-900);
    --bg-brand-muted: var(--flame-alpha-15);
    --bg-brand: var(--flame-500);
    --bg-danger: var(--danger-alpha-15);
    --bg-destructive-hover: var(--danger-500);
    --bg-destructive: var(--danger-600);
    --bg-emphasis: var(--neutral-800);
    --bg-info: var(--info-alpha-15);
    --bg-input: var(--neutral-800);
    --bg-popover-hover: var(--neutral-800);
    --bg-popover: var(--neutral-950);
    --bg-primary-hover: var(--flame-500);
    --bg-primary: var(--flame-600);
    --bg-secondary-hover: var(--neutral-700);
    --bg-secondary: var(--neutral-800);
    --bg-success: var(--success-alpha-15);
    --bg-warning: var(--warning-alpha-15);
    --border-accent-on-primary: var(--neutral-600);
    --border-brand: var(--flame-500);
    --border-default: var(--neutral-700);
    --border-focus: var(--neutral-500);
    --border-primary: var(--flame-600);
    --border-secondary: var(--neutral-700);
    --fg-accent-1: var(--mint-500);
    --fg-accent-2: var(--purple-500);
    --fg-accent-3: var(--pink-500);
    --fg-brand: var(--flame-500);
    --fg-danger: var(--danger-500);
    --fg-default: var(--neutral-50);
    --fg-info: var(--info-500);
    --fg-muted: var(--neutral-300);
    --fg-on-primary: var(--neutral-white);
    --fg-subtle: var(--neutral-500);
    --fg-success: var(--success-500);
    --fg-warning: var(--warning-500);
  }
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --bg-background: var(--neutral-900);
    --bg-brand-muted: var(--flame-alpha-15);
    --bg-brand: var(--flame-500);
    --bg-danger: var(--danger-alpha-15);
    --bg-destructive-hover: var(--danger-500);
    --bg-destructive: var(--danger-600);
    --bg-emphasis: var(--neutral-800);
    --bg-info: var(--info-alpha-15);
    --bg-input: var(--neutral-800);
    --bg-popover-hover: var(--neutral-800);
    --bg-popover: var(--neutral-950);
    --bg-primary-hover: var(--flame-500);
    --bg-primary: var(--flame-600);
    --bg-secondary-hover: var(--neutral-700);
    --bg-secondary: var(--neutral-800);
    --bg-success: var(--success-alpha-15);
    --bg-warning: var(--warning-alpha-15);
    --border-accent-on-primary: var(--neutral-600);
    --border-brand: var(--flame-500);
    --border-default: var(--neutral-700);
    --border-focus: var(--neutral-500);
    --border-primary: var(--flame-600);
    --border-secondary: var(--neutral-700);
    --fg-accent-1: var(--mint-500);
    --fg-accent-2: var(--purple-500);
    --fg-accent-3: var(--pink-500);
    --fg-brand: var(--flame-500);
    --fg-danger: var(--danger-500);
    --fg-default: var(--neutral-50);
    --fg-info: var(--info-500);
    --fg-muted: var(--neutral-300);
    --fg-on-primary: var(--neutral-white);
    --fg-subtle: var(--neutral-500);
    --fg-success: var(--success-500);
    --fg-warning: var(--warning-500);
  }
} */
