.fpx-placeholder:empty:before {
  content: attr(data-placeholder);
  color: #9ca3af; /* Tailwind's gray-400, adjust as needed */
  position: absolute;
  pointer-events: none;
}

.fpx-placeholder:focus:before {
  content: none;
}